.addusermodel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .close-but{
    color: #fff;
    background: none;
    border: none;
    font-weight: bolder;
    font-size: x-large;
  }

@media screen and (max-width: 767px) {
  .addusermodel{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }
  .resdiv{
    display: flex;
    width: 0px;
}
.textdiv{
    align-items: center;
}
  
}


.upload-box {
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #fffaf2;
}

.upload-box:hover {
  background-color: #fff3cd;
  transform: scale(1.02);
}

.upload-box.border-dashed {
  border-style: dashed !important;
}

.modal-content {
  animation: slideDown 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-upload-employee {
  background: linear-gradient(to bottom, #0c5cb8, #088fc5);
 color: #fff;
  transition: all 0.3s ease;

}

.btn-upload-employee:hover {
   background: linear-gradient(to top, #0c5cb8, #088fc5);
    color: #fff;
  transform: translateY(-2px);
  /* box-shadow: 0 6px 14px rgba(245, 158, 11, 0.4); */
}

.btn-upload-employee i {
  transition: transform 0.2s ease;
}

.btn-upload-employee:hover i {
  transform: translateY(-2px);
}